.hidden {
  visibility: hidden;
  height: 0;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.visible {
  visibility: visible;
  height: auto;
  padding: 0.5rem 2rem;
  margin: 0.5rem 0;
  opacity: 1;
  transform: translateY(0);
}

.accordion {
  width: 100%;
}

.accordionItem {
  width: 100%;
  color: var(--color-dark-2);
}

.accordionTitle {
  transition: background-color 0.3s ease, color 0.3s ease;
  cursor: pointer;
  font-weight: bold;
  width: 100%;
  text-align: left;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid var(--color-dark-5);
}

.accordionItem:last-of-type .accordionTitle {
  border-bottom: none;
}

.accordionTitle:hover {
  background-color: var(--color-dark-5);
  color: var(--color-light);
}

.accordionTitle.active {
  background-color: var(--color-dark-5);
  color: var(--color-light);
}

.accordionDescription {
  opacity: 0;
  transform: translateY(-20px);
  height: 0;
  text-align: left;
  overflow: hidden;
  padding: 0;
  margin: 0;
  transition: opacity 0.3s ease, transform 0.3s ease, height 0s ease;
}

.accordionDescription.visible {
  opacity: 1;
  transform: translateY(0);
  height: auto;
  padding: 0.5rem 2rem;
  margin: 0.5rem 0;
  transition: opacity 0.3s ease, transform 0.3s ease, height 0.3s ease;
}
