.animatedButton {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
}

/* Background layer for fill animation */
.fillLayer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Color variants */
.primary {
  background-color: var(--color-dark);
  color: var(--color-light-3);
}
.primary:hover {
  background-color: var(--color-dark-3);
}
.secondary {
  background-color: var(--color-light);
  color: var(--color-dark-2);
}
.secondary:hover {
  background-color: var(--color-light-3);
}

.outline {
  background-color: transparent;
  border: 0.15rem solid var(--color-dark);
  color: var(--color-dark-2);
}

/* Hover effects */
.primary .fillLayer {
  background-color: var(--color-dark-3);
}
.secondary .fillLayer {
  background-color: var(--color-light-3);
}
.outline .fillLayer {
  background-color: var(--color-dark-3);
}

.outline:hover {
  color: var(--color-light);
}
.outline:not(.fill):hover {
  background-color: var(--color-dark-3);
  color: var(--color-light);
}
.fill span {
  position: relative;
  z-index: 1;
}
