:root {
  --color-light: #f8f9fa;
  --color-light-2: #fffff0;
  --color-light-3: #ededed;

  --color-dark: #333333;
  --color-dark-2: #3b3b3b;
  --color-dark-3: #252525;

  --color-accent: #3498db;
  --color-background: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  background: linear-gradient(
    90deg,
    var(--color-light) 0%,
    var(--color-light-2) 49%,
    var(--color-light) 100%
  );
  color: var(--color-dark-2);
  line-height: 1.6;
}
